@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #353535;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  background: #464545;
  height: 10%;
}

.nav-menu a {
  text-decoration: none;
  color: #e5e5e5;
  text-transform: uppercase;
}

.nav-menu a:first-child {
  margin-right: 1.5rem;
}

.nav-menu a:last-child {
  margin-right: 1.5rem;
}

.nav-menu a:hover {
  border-bottom: 2px solid #ff9f1c;
}

.category-options {
  display: flex;
  flex-direction: column;
}

.category-options h2 {
  color: #fca311;
  margin-left: 42px;
  font-weight: 400;
}

.category-list {
  display: flex;
  flex-direction: row;
  color: #e5e5e5;
  margin: 2px;
  font-size: 1.1rem;
}

.category-list li {
  list-style: none;
  margin-right: 25px;
}

.category-list li:hover {
  border-bottom: 1px solid #fca311;
  cursor: pointer;
  font-size: 1.2rem;
}

.options-bottom {
  border-bottom: 1px solid #ff9f1c;
  margin: 20px 60px 0 60px;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.main-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  background: #424242;
  border-radius: 10px;
  padding: 15px 15px;
  width: 90%;
}

.category-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-left: 30px;
}

.category-details {
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.category-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: #fca311;
}

.category-description {
  font-size: 1rem;
  width: 90%;
}

.category-dishes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem 2rem;
}

.single-dish {
  background: #424242;
  padding: 20px 10px;
  border-radius: 10px;
}

.dish-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dish-photo {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.dish-title {
  color: #e5e5e5;
  font-size: 0.9rem;
  margin-top: 10px;
}
