@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #353535;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  background: #464545;
  height: 10%;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.nav-menu a:first-child {
  margin-right: 1.5rem;
}

.nav-menu a:last-child {
  margin-right: 1.5rem;
}

.nav-menu a:hover {
  border-bottom: 2px solid #ff9f1c;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 30px;
  margin-left: 40px;
}

input[type="text"] {
  padding: 8px 8px;
  width: 350px;
  background: #e5e5e5;
  border-radius: 10px;
}

.search-title {
  color: #ff9f1c;
  margin-right: 15px;
  font-size: 1.8rem;
}

.search-btn {
  padding: 8px 8px;
  border-radius: 10px;
  margin-left: -5px;
}

.search-bottom {
  border-bottom: 1px solid #ff9f1c;
  margin: 25px 80px;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background: #424242;
  padding: 20px 20px;
  border-radius: 10px;
  width: 50%;
}

.dish-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.dish-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  padding: 0 100px 0 0;
}

.empty-result {
  color: #fff;
  font-size: 2rem;
}

.dish-title {
  font-size: 3rem;
  color: #ff9f1c;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 25px;
}

.dish-spec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e5e5e5;
}

.dish-spec .category,
.dish-spec .origin {
  font-size: 1.5rem;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 20px;
  color: #e5e5e5;
}

.recipe {
  display: flex;
  flex-direction: column;
  background: #424242;
  padding: 20px 20px;
  border-radius: 10px;
  width: 45%;
  margin-bottom: 25px;
}

.recipe-title {
  color: #ff9f1c;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
